作業目標:<br>
1.讀取各種檔案格式<br>
2.輸出各種檔案格式<br>

作業重點:<br>
1.不同檔案讀取方式皆不同，須了解檔案格式中的邏輯，例如:csv是以逗號分隔<br>
2.讀取、輸出檔案的程式碼不同，須注意使用方式

題目: <br>
讀取資料夾中boston.csv讀取其欄位CHAS、NOX、RM，輸出成.xlsx檔案

In [1]:
import pandas as pd

In [13]:
#讀取資料夾中boston.csv讀取其欄位CHAS、NOX、RM，輸出成.xlsx檔案
boston_data = pd.read_csv('boston.csv',usecols = ['CHAS','NOX','RM'])
boston_data

     CHAS    NOX     RM
0     0.0  0.538  6.575
1     0.0  0.469  6.421
2     0.0  0.469  7.185
3     0.0  0.458  6.998
4     0.0  0.458  7.147
..    ...    ...    ...
501   0.0  0.573  6.593
502   0.0  0.573  6.120
503   0.0  0.573  6.976
504   0.0  0.573  6.794
505   0.0  0.573  6.030

[506 rows x 3 columns]

In [6]:
boston_data.to_excel('my_boston.xlsx' ,sheet_name = 'boston')

In [7]:
boston_json_data = pd.read_json('boston.json')
boston_json_data

     TAX  PTRATIO       B  LSTAT
0    296     15.3  396.90   4.98
1    242     17.8  396.90   9.14
2    242     17.8  392.83   4.03
3    222     18.7  394.63   2.94
4    222     18.7  396.90   5.33
..   ...      ...     ...    ...
501  273     21.0  391.99   9.67
502  273     21.0  396.90   9.08
503  273     21.0  396.90   5.64
504  273     21.0  393.45   6.48
505  273     21.0  396.90   7.88

[506 rows x 4 columns]

In [8]:
boston_json_data.to_json('my_boston.json')

In [9]:
import sqlite3

In [14]:
#資料庫有bug
#boston_data = pd.read_excel('data.xls',sheet_name = 'boston', header=0,usecols = ['CHAS','NOX','RM'])
#connection = sqlite3.connect('sql_db.sqlite')
#boston_data.to_sql('boston',connection,if_exists = 'replace')
#connection.commit()
#connection.close()